<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.educher_parent">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".GraphActivity"/>
        <activity android:name=".EditProfile" />
        <activity android:name=".ScheduleApps" />
        <activity android:name=".SingleAppSchedule" />
        <activity android:name=".Suggestion" />
        <activity android:name=".SelectSchedule" />
        <activity android:name=".AppUsage" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AllApps" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PhoneVerification" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>